<!-- Call the Base part -->
{% extends "base.html" %}

<!-- Insert the content of the Contact page in 2 columns -->
{% block app_content %}
  <div class="row card">
    <div class="col-md-2 col-md-offset-2">
      <img src="https://res.cloudinary.com/mandarine8/image/upload/v1579306933/q254pclrrdybuiijoka7.jpg" alt="Responsive image" class="img-responsive img-thumbnail">
    </div>

    <div class="col-md-8">
      <h1>Amandine Car</h1>
      <br>
      <ul class="list-unstyled">
        <li class="h4">
          <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
          <a href="mailto:caramandine@gmail.com">caramandine@gmail.com</a>
        </li>
        <li class="h4">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          <a href="https://github.com/mandarine8">Github</a>
        </li>
        <li class="h4">
          <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
          <a href="https://www.linkedin.com/in/amandinecar/">Linkedin</a>
        </li>
        <li class="h4">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
          <a href="{{ url_for('static', filename='AmandineCar Resume.pdf') }}" download>Resume</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
