<!-- Call the Base -->
{% extends "base.html" %}
<!-- Import the Bootstrap Form extension -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Content of the Exercise 2 and its response -->
{% block app_content %}
  <div class="page-header">
    <h1>Exercise 2: <small>Character splitter</small></h1>
    <p>Slice every line at 10 character maximum</p>
  </div>

<!-- Confetti if response -->
  {% if response %}
    <canvas id="my-canvas" class="confetti"></canvas>
  {% endif %}

  <div class="col-md-4">
    <!-- Takes care of rendering the form -->
    {{ wtf.quick_form(form) }}

    {% if response %}
      <textarea class="form-control response" rows="5" readonly>{{response}}</textarea>
    {% endif %}
  </div>
{% endblock %}

<!-- Confettis in Js during 5seconds -->
{% block scripts %}
  {{ super()}}
  <script>
    var confettiSettings = { target: 'my-canvas' };
    var confetti = new ConfettiGenerator(confettiSettings);
    confetti.render();
    setTimeout(() => {
      confetti.clear();
    }, 5000);
  </script>
{% endblock %}
