<!-- Call the Base -->
{% extends "base.html" %}
<!-- Import the Bootstrap Form extension -->
{% import 'bootstrap/wtf.html' as wtf %}

<!-- Content of the Exercise 1 and its response -->
{% block app_content %}
  <div class="page-header">
    <h1>Exercise 1: <small>Phrase reverse</small></h1>
    <p>Reverse words of a sentence</p>
  </div>

<!-- Confetti if response -->
  {% if response %}
    <canvas id="my-canvas" class="confetti"></canvas>
  {% endif %}

  <div class="col-md-4">
    <!-- Takes care of rendering the form -->
    {{ wtf.quick_form(form) }}

    {% if response %}
      <pre class="pre-scrollable response">{{response}}</pre>
    {% endif %}
  </div>

{% endblock %}

<!-- Confettis in Js during 5seconds -->
{% block scripts %}
  {{ super()}}
  <script>
    var confettiSettings = { target: 'my-canvas' };
    var confetti = new ConfettiGenerator(confettiSettings);
    confetti.render();
    setTimeout(() => {
      confetti.clear();
    }, 5000);
  </script>
{% endblock %}
